<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simucomtooladapter -->
      <package
            uri="http://palladiosimulator.org/SimuCom/ToolAdapter/1.0"
            class="org.palladiosimulator.simucom.simucomtooladapter.SimucomtooladapterPackage"
            genModel="model/simucomtooladapter.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated simucomtooladapter -->
      <parser
            type="simucomtooladapter"
            class="org.palladiosimulator.simucom.simucomtooladapter.util.SimucomtooladapterResourceFactoryImpl"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sdq.ipd.uka.de/ExperimentAutomation/SimuCom/1.0"
            class="org.palladiosimulator.simucom.simucomtooladapter.SimucomtooladapterPackage"
            genModel="model/ExperimentAutomation.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="simucom"
            class="org.palladiosimulator.simucom.simucomtooladapter.util.SimucomtooladapterResourceFactoryImpl"/>
   </extension>
</plugin>
