<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.experimentautomation.variation.presentation.VariationModelWizardID"
            name="%_UI_VariationModelWizard_label"
            class="org.palladiosimulator.experimentautomation.variation.presentation.VariationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VariationModelFile.gif">
         <description>%_UI_VariationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated ExperimentAutomation -->
      <editor
            id="org.palladiosimulator.experimentautomation.abstractsimulation.presentation.AbstractsimulationEditorID"
            name="%_UI_AbstractsimulationEditor_label"
            icon="icons/full/obj16/AbstractsimulationModelFile.gif"
            extensions="abstractsimulation"
            class="org.palladiosimulator.experimentautomation.abstractsimulation.presentation.AbstractsimulationEditor"
            contributorClass="org.palladiosimulator.experimentautomation.abstractsimulation.presentation.AbstractsimulationActionBarContributor">
      </editor>
   </extension>

null
null
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.palladiosimulator.experimentautomation.variation.presentation.VariationEditorID"
            name="%_UI_VariationEditor_label"
            icon="icons/full/obj16/VariationModelFile.gif"
            extensions="variation"
            class="org.palladiosimulator.experimentautomation.variation.presentation.VariationEditor"
            contributorClass="org.palladiosimulator.experimentautomation.variation.presentation.VariationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ExperimentAutomation -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.experimentautomation.experiments.presentation.ExperimentsModelWizardID"
            name="%_UI_ExperimentsModelWizard_label"
            class="org.palladiosimulator.experimentautomation.experiments.presentation.ExperimentsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ExperimentsModelFile.gif">
         <description>%_UI_ExperimentsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.experimentautomation.experiments.presentation.ExperimentsModelWizardID"
            name="%_UI_ExperimentsModelWizard_label"
            class="org.palladiosimulator.experimentautomation.experiments.presentation.ExperimentsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ExperimentsModelFile.gif">
         <description>%_UI_ExperimentsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.palladiosimulator.experimentautomation.experiments.presentation.ExperimentsEditorID"
            name="%_UI_ExperimentsEditor_label"
            icon="icons/full/obj16/ExperimentsModelFile.gif"
            extensions="experiments"
            class="org.palladiosimulator.experimentautomation.experiments.presentation.ExperimentsEditor"
            contributorClass="org.palladiosimulator.experimentautomation.experiments.presentation.ExperimentsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ExperimentAutomation -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.experimentautomation.abstractsimulation.presentation.AbstractsimulationModelWizardID"
            name="%_UI_AbstractsimulationModelWizard_label"
            class="org.palladiosimulator.experimentautomation.abstractsimulation.presentation.AbstractsimulationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AbstractsimulationModelFile.gif">
         <description>%_UI_AbstractsimulationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.experimentautomation.abstractsimulation.presentation.AbstractSimulationModelWizardID"
            name="%_UI_AbstractSimulationModelWizard_label"
            class="org.palladiosimulator.experimentautomation.abstractsimulation.presentation.AbstractsimulationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AbstractsimulationModelFile.gif">
         <description>%_UI_AbstractSimulationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.palladiosimulator.experimentautomation.abstractsimulation.presentation.AbstractSimulationEditorID"
            name="%_UI_AbstractSimulationEditor_label"
            icon="icons/full/obj16/AbstractsimulationModelFile.gif"
            extensions="abstractsimulation"
            class="org.palladiosimulator.experimentautomation.abstractsimulation.presentation.AbstractsimulationEditor"
            contributorClass="org.palladiosimulator.experimentautomation.abstractsimulation.presentation.AbstractsimulationActionBarContributor">
      </editor>
   </extension>

</plugin>
