<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.experimentautomation.application.tooladapter">
      <tooladapter
            class="org.palladiosimulator.experimentautomation.application.tooladapter.simucom.SimuComToolAdapter">
      </tooladapter>
   </extension>

</plugin>
