<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.palladiosimulator.experimentautomation.application.tooladapter" name="org.palladiosimulator.experimentautomation.application.tooladapter" schema="schema/org.palladiosimulator.experimentautomation.application.tooladapter.exsd"/>
	<extension
         id="org.palladiosimulator.experimentautomation.application"
         name="Palladio Experiment Automation"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.palladiosimulator.experimentautomation.application.ExperimentApplication">
         </run>
      </application>
   </extension>
</plugin>
