<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.experimentautomation.application.tooladapter">
      <tooladapter
            class="de.uka.ipd.sdq.experimentautomation.application.tooladapter.simucom.SimuComToolAdapter">
      </tooladapter>
   </extension>

</plugin>
